# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Data and large files
!.gitkeep

# Results
!results/.gitkeep


# OS
.DS_Store
Thumbs.db

#Venv
venv/

#Kaggle Token
kaggle.json